<h1>Devoured</h1>

<h2>Not Devoured</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burger/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured</h
<ul>
  {{#each burgers}}
    {{#if devoury}}
      {{> burger/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form action="/burgers" method="POST">
     <input type="text" id="name" name="burger_name" placeholder="Burger">
     <button type="submit" class="addBurgerButton">Add The Burger</button>
   </form>
